#header{
    height: 20vh;
    width: 90%;
    background-color: green;
    display:inline-block;
    text-align: center;
}

#gameCanvas{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}

#cvsContainer{
    height: 70vh;
    width: 90%;
    background-color: red;
    display:inline-block;
}